.services {
    height: 100%;
    width: 100%;
}
.services__wrapper {
    @extend %dimension;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.services__text {
    width: 89.6rem;
    height: 26.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    @include media('<=phone') {
        margin-bottom: 15rem;
    }
}
.services__text__title {
    @extend %title-76;
    font-weight: 400;
    text-align: center;
    @include media('<=phone') {
        @include title-100;
        width: 120rem;
    }
}
.services__text__description {
    width: 71.8rem;
    @extend %description-20;
    margin-top: 2.4rem;
    text-align: center;
    @include media('<=phone') {
        // use for all page title and description on mobile
        font-size: 3rem;
        width: 110rem;
    }
}

.services__gridLayout__wrapper {
    display: grid;
    grid-template-columns: 82.2rem 44.2rem;
    margin-bottom: 4rem;
    gap: 2rem;
    @include media('<=phone') {
        grid-template-columns: 150rem;
        grid-gap: 10rem;
    }
}

.services__grid__item {
    position: relative;
    background-color: $color-cod-gray;
    overflow: hidden;
    @include media('<=phone') {
    }
}
.services__grid__item--1 {
}

.services__grid__item--2 {
}

.services__grid__item--3 {
}

.services__grid__item--4 {
    // grid-column: 2;
}

.services__grid__item--1,
.services__grid__item--3,
.services__grid__item--2,
.services__grid__item--4 {
    height: 48rem;
    border-radius: 1.2rem;

    @include media('<=phone') {
        height: 80rem;
    }
}
