.hero {
    height: calc(90vh - 6.7rem);
    width: $width;
    @include flex(center, center, _, _);

    &_wrapper {
        width: 98rem;
        height: 46.3rem;
        @extend %center;
        gap: 3rem;
        flex-direction: column;
        position: relative;
    }

    &_info {
        height: 3.2rem;
        width: fit-content;
        background-color: darken($color-dusty-gray, 44);
        padding: 0 1.2rem;
        border-radius: 10rem;
        border: 0.01px solid $color-alto;
        @extend %description-16;
        &_wrapper {
            width: $width;
            height: $height;
            @extend %center;
            gap: 1rem;
        }
    }

    &_title {
        @extend %title-96;
        font-weight: 400;
        text-align: center;
        line-height: 1.2;
        word-spacing: 0.1rem;
    }

    &_description {
        &_text {
            @extend %description-24;
            font-weight: 300;
            text-align: center;
            line-height: 1.3;
        }
    }

    &_button {
        &_item {
            outline: none;
            border: none;
            @extend %green-button-hero;
            height: 5.1rem;
        }
    }

    &_content_wrapper {
        width: $width;
        height: $height;
        position: absolute;
        top: 0;
        @include flex(space-between, center, _, column);
    }

    &_overlay {
        width: $width;
        height: $height;
        figure {
            width: $width;
            height: $height;
            img {
                @extend %cover;
                object-fit: cover;
            }
        }
    }
}
