.hero {
    @extend %dimension;
    margin-bottom: 10rem;
}

.hero__Wrapper {
    @extend %dimension;
    @include flex(center, _, _, _);
}

.hero__content {
    width: 97.6rem;
    height: 44.3rem;
    margin-top: calc(16.7rem - 6.7rem);
    text-align: center;
    position: relative;
    &::after,
    &::before {
        content: '';
        height: 4rem;
        left: 0;
        position: absolute;
        width: 100%;
    }
    &::before {
        background-color: rgba($color-black, 1);
        z-index: 1;
    }
    &::after {
        background: linear-gradient(
            to top,
            $color-black 0%,
            rgba($color-black, 0.3) 100%
        );
        bottom: 0;
    }
}

.hero__content__gridBackground {
    width: $width;
    height: $height;
    figure {
        img {
            @extend %cover;
            object-fit: cover;
            width: 100%;
        }
    }
}

.hero__content__wrapper {
    @extend %dimension;
    @include flex(space-between, center, _, column);
    @extend %cover;
}

.hero__content__marquee {
    width: 23rem;
    height: 3.2rem;
    border-radius: 10rem;
    background-color: darken($color-dusty-gray, 30%);
    z-index: 99;
    position: relative;
}

.hero__content__marquee__wrapper {
    @extend %dimension;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 1.2rem;
    P {
        @extend %description-16;
        color: $color-alto;
    }
}

.hero__content__marquee__text__paragraph {
}

.hero__content__title {
}

.hero__content__title_text {
    @extend %title-96;
    font-weight: 500;
}

.hero__content__title__description__text {
    @extend %description-24;
    color: $color-alto;
}

.hero__content__button {
    margin-top: 3.2rem;
    outline: none;
    border: none;
    width: 14.6rem;
    height: 5.1rem;
    border-radius: 10rem;
    padding: 1.6rem 3.2rem;
    @extend %description-16;
    background: $color-forest-green;
    color: $color-white;
    position: relative;
    z-index: 99;
}
