.navigation {
    width: $width;
    height: 6.7rem;
    border-bottom: 1px solid $color-mine-shaft;
    @include media('<=phone') {
        height: 20rem;
    }

    &_wrapper {
        width: $width;
        height: $height;
        @extend %center;
        padding: 0 4rem;
        @extend %description-16;
    }

    &_logo {
        &_media_image {
            width: 3.4rem;
            height: 3.4rem;
        }
        &_wrapper {
            @extend %center;
            gap: 0.4rem;
            @extend %title-24;
            &_media {
                width: 2.4rem;
                height: 2.4rem;
            }
        }
    }

    &_info {
        // @include media('<phone') {
        //     display: none;
        // }
        &_items {
            @extend %center;
            gap: 4rem;
        }
    }

    &_account-actions {
        &_items {
            @extend %center;
            gap: 4rem;
        }

        &_item--button {
            display: inline-block;
            background-color: $color-forest-green;
            padding: 1.2rem;
            border-radius: 10rem;
        }
    }
}
