.navigation {
    position: fixed;
    z-index: 1000000;
    background-color: rgba($color-black, 0.6);
    width: $width;
    height: 6.7rem;
    border-bottom: 1px solid $color-mine-shaft;
    @include media('<=phone') {
        height: 20rem;
    }

    &_wrapper {
        width: $width;
        height: $height;
        @extend %center;
        padding: 0 4rem;
        @extend %description-16;
    }

    &_logo {
        &_text {
            @include media('<=phone') {
                font-size: 8rem;
                font-weight: 500;
            }
        }
        &_media_image {
            width: 3.4rem;
            height: 3.4rem;
            @include media('<=phone') {
                width: 8rem;
                height: 8rem;
            }
        }

        &_wrapper {
            @extend %center;
            gap: 0.4rem;
            @extend %title-24;
            &_media {
                width: 2.4rem;
                height: 2.4rem;
            }

            @include media('<=phone') {
                gap: 1.2rem;
            }
        }
    }

    &_info {
        @include media('<=phone') {
            visibility: hidden;
        }
        // @include media('<phone') {
        //     display: none;
        // }
        &_items {
            @extend %center;
            gap: 4rem;
        }
    }

    &_account-actions {
        @include media('<=phone') {
            visibility: hidden;
        }
        &_items {
            @extend %center;
            gap: 4rem;
        }

        &_item--button {
            display: inline-block;
            background-color: $color-forest-green;
            padding: 1.2rem;
            border-radius: 10rem;
        }
    }
}
