%title-24 {
    font-size: 2.4rem;
}

%title-32 {
    font-size: 3.2rem;
    font-weight: 400;
}

%title-76 {
    font-size: 7.6rem;
}

%title-80 {
    font-size: 8rem;
}

%title-96 {
    font-size: 9.6rem;
}

%title-128 {
    font-size: 12.8rem;
}
