@mixin flex($justify, $align, $gap, $flex-direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $flex-direction;
  gap: $gap;
}

%cover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin top($top) {
  @extend %cover;
  top: $top;
}
