.heroWrapper {
  width: $width;
  height: calc(100vh - 5.5rem);
  @include flex(center, _, _);
  line-height: 1.3;
  &_text-wrapper {
    margin-top: 9rem;
    width: 65%;
    height: 40rem;
    background-image: url("/Grid.png");
    background-position: top;
    background-position: center;
    @include flex(space-around, center, _);
    flex-direction: column;
    span {
      display: block;
      text-align: center;
    }
    &_btn {
      padding: 1.3rem 2.3rem;
      border-radius: $border-radius;
      background-color: $button-color;
      color: $slider-button-color;
      font-size: $font-nav;
      border-color: transparent;
    }
    h1 {
      font-size: 7rem;
      font-weight: 400;
    }
    &_paragraph {
      font-size: $font-nav;
      padding: 0.5rem 1.4rem;
      background-color: darken($hero-intro-button-bg-color, 50);
      color: $hero-intro-button-text-color;
      border-radius: $border-radius;
    }
    &_paragraph-2 {
      font-size: 1.8rem;
      color: $hero-h2-text-color;
    }

    & > :not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
