.featuredWrapper {
  width: $width;
  height: auto;
  padding: 4rem 0;
  @include flex(space-between, center, 7rem);
  flex-direction: column;

  &_seenOnWrapper {
    @include flex(space-between, center, 4rem);
  }

  &_seenOnWrapper_paragraph {
    p {
      font-size: 1.6rem;
      font-weight: 300;
    }
  }

  &_image-wrapper {
    width: $width;
    padding: 0 4rem;
    figure {
      img {
        width: $width;
        border-radius: 1.2rem;
      }
    }
  }
}

.featuredWrapper_seenOnWrapper {
  @include flex(space-between, center, _);
  flex-direction: column;
}
