.header {
  width: $width;
  height: 5.5rem;
  border-bottom: 0.1px solid $border-bottom-nav-color;

  &_nav {
    width: $width;
    height: $height;
    @include flex(space-between, center, _);
    padding: 0 $padding-nav;

    &_item-1 {
      @include flex(space-between, center, 0.5rem);
    }

    &_item-2 {
      ul {
        width: $width;
        @include flex(space-between, center, 4rem);
        color: $hero-h2-text-color;
        font-size: $font-size-nav-original;
        li {
          cursor: pointer;
        }
      }
    }

    &_item-3 {
      ul {
        color: $slider-button-color;
        width: $width;
        @include flex(space-between, center, 2rem);
        font-size: $font-nav;
        li {
          cursor: $cursor;
        }
      }
    }
  }
}

.header_nav_item-3-button {
  background-color: $button-color;
  display: inline-block;
  padding: 1rem 1.5rem;
  border-radius: $border-radius;
  font-size: $font-size-nav-original;
}
