*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 1;
  background-color: $color-black;
  color: $color-white;
}

li {
  list-style-type: none;
}
a,
a:link,
a:active {
  color: currentColor;
  text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
